header{
    color: blue;
}

head{
    text-align: center;
}

body{
    background-color: gray;
    margin: auto;
    width: 80%;
    text-align: center;
}

p{
    margin: auto;
    width: 75%;
    text-align: center;
}

footer{
    text-align: center;
}
