html{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: blue;
}

head{
    text-align: center;
}

body{
    background-color: rgb(194, 194, 194);
    margin: auto;
    width: 75%;
    text-align: center;
}

p{
    margin: auto;
    width: 75%;
    text-align: center;
}

footer{
    text-align: center;
}

a{
    font-size: x-large;
}
